{% extends "common/base.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript">
var BLANK = "{% static "common/blank.png" %}";
var OK = "{% static "common/ok.png" %}";
var SPINNER = "{% static "common/spinner14.gif" %}";
$.log = function(message){
     $('#log').append('<p>' + message + '</p>');
};

var timeouts = Array();

function switch_blank(node) {
    $(node).attr("src", BLANK);
}
function process_success(data) {
   if (data.success == true) {
    idname = "#progress_"+data.key;
    $(idname).attr("src", OK);
    if (typeof timeouts[idname] != 'undefined') {
      clearTimeout(timeouts[idname]);
    }
    timeouts[idname] = setTimeout("switch_blank('"+idname+"');", 1500);
   } else {
    console.log("fail");
   }
}

function process_send(data) {
    id = $(data).closest('form').attr("id").split("_");
    id = id[1];
    idname = "#progress_"+id;
    $(idname).attr("src", SPINNER);
}

$(document).ready(function(){
 $("#id_start_date").datepicker({'dateFormat': 'yy-mm-dd', 'showWeek': true, 'firstDay': 1});
 $("#form_header").autosave({
  grouped: true,
  success: function(data) { process_success(data) },
  send: function(data) { process_send(data) }
 });
 var autosave_options = {grouped: false, success: function(data) { process_success(data) }, send: function(data) { process_send(data) }  };

 {% for listitem in listitems_yours %}
  $("#form_{{ listitem.id }}").autosave(autosave_options); {% endfor %}
 {% for listitem in listitems_others %}
  $("#form_{{ listitem.id }}").autosave(autosave_options); {% endfor %}

});

</script>

<h1>{{ employee.name }}</h1>

{% if employee.archived %}
<a href="{% url "x_employee" "archive" employee.id %}" id="archive_user" class="btn">Unarchive</a>
{% else %}
<a href="{% url "x_employee" "archive" employee.id %}" id="archive_user" class="btn btn-warning">Archive</a>
{% endif %}

{% if employee.deleted %}
<a href="{% url "x_employee" "delete" employee.id %}" id="delete_user" class="btn">Undelete</a>
{% else %}
<a href="{% url "x_employee" "delete" employee.id %}" id="delete_user" class="btn btn-danger">Delete</a>
{% endif %}

<form method="post" action="{% url "update_info" employee.id %}" class="autosave" id="form_header">
{% csrf_token %}
<legend><img src="{% static "common/blank.png" %}" id="progress_header"></legend>
<table>
{{ employee_form }}

</table>
</form>

<h1>Your items</h1>
<p>Please note: additional items in list below this (<b>Other items</b>) may also apply to you. You should not ignore it.</p>
{% include "employee_listitems.html" with employee=employee listitems=listitems_yours only %}

<h1>Other items</h1>
{% include "employee_listitems.html" with employee=employee listitems=listitems_others only %}

{% endblock %}
