{% comment %}
    Employee table used by employeelist.html.
    Arguments: employees (list of custom objects), archived (bool),
        without_item (ChecklistItem), chklist (Checklist), csrf_token.
{% endcomment %}

{% load staticfiles %}

<table class="table {% if archived %}table-striped{% endif %} table-condensed">
<thead>
 <tr>
  <th>S</th>
  <th>L</th>
  <th>Name</th>
  {% if without_item %}
    <th>
      <a href="{% url 'employeelist' chklist.id %}" title="remove filter">
        {{without_item.itemname}}
      </a>
    </th>
  {% endif %}
  <th>
    {% if archived %}
      Start date
    {% else %}
      Date
    {% endif %}
  </th>
  <th>Confirmed</th>
  <th>ETA</th>
  <th>Group items</th>
  <th>Items done</th>
 </tr>
</thead>
<tbody>
{% for employee in employees %}
 <tr class="{% if employee.your_employee %}your_employee{%endif%} {% if not archived %}{% if employee.eta < 0 %}old{% else %}new{% endif %}{% endif %}">
  <td>{% ifnotequal employee.employee_state 'A' %}{{ employee.employee_state }}{% endifnotequal %}</td>
  <td>{{ employee.location }}</td>
  <td><a href="{% url "employeeview" employee.id %}">{{ employee.name }}</a></td>
  {% if without_item %}
    <td>
      <form method="post" action="{% url "update_employee" employee.id without_item.id %}" class="autosave" id="form_{{employee.id}}" autocomplete="off">
        {% csrf_token %}
        <img src="{% static 'common/transparent.png' %}" id="progress_{{employee.id}}">
        <input type="checkbox" name="checkbox">
        {% if without_item.textbox %}
            <input type="textbox" value="{{employee.textvalue}}"
              name="textbox" class="without_item_textbox">
        {% endif %}
      </form>
    </td>
  {% endif %}
  <td>{{ employee.start_date|date:"Y-m-d" }}</td>
  <td><i class="{% if employee.confirmed %}icon-ok{% else %}icon-remove{% endif %}"></i></td>
  <td>{{ employee.eta }} day{{ employee.eta|pluralize}}</td>
  <td>{% if employee.your_done_count == employee.your_total_count %}<b>Finished</b>{%else%}<b>{{ employee.your_done_count }}</b>/{{ employee.your_total_count }}{%endif%}</td>
  <td>{% if employee.done_count == employee.total_count %}<b>Finished</b>{%else%}<b>{{ employee.done_count }}</b>/{{ employee.total_count }}{%endif%}</td>
 </tr>
{% endfor %}
</tbody>
</table>
