{% comment %}
    Employee list items table used by employeeview.html.
    Arguments: employee (Employee), listitems (list of custom objects),
        csrf_token.
{% endcomment %}

{% load staticfiles %}

{% for listitem in listitems %}
<form method="post" action="{% url "update_employee" employee.id listitem.id %}" class="autosave form_listitem" id="form_{{ listitem.id }}" name="form_{{ listitem.id }}" autocomplete="off">
{% csrf_token %}
<div class="dwrap">
    <div class="dwrap_saving"><img src="{% static "common/blank.png" %}" id="progress_{{ listitem.id }}"></div>
<div class="dwrap_1"><input type="checkbox" name="checkbox" {% if listitem.value %}checked="checked"{%endif%} id="checkbox"></div>
<div class="dwrap_2"><small>{{ listitem.unit }}</small></div>
<div class="dwrap_3">
  <a class="all_without"
     href="{% url 'employeelist-without-item' list_id=employee.listname.id without_item_id=listitem.id %}"
     title="See everyone without {{listitem.itemname}}"
  >⚙</a>
  {{ listitem.markdown_itemname|safe }}
</div>
<div class="dwrap_4">{% if listitem.textbox %}<input  type="textbox" value="{{ listitem.textvalue }}" name="textbox" id="textbox">{% endif %}</div>
</div>
</form>
{% endfor %}

<div style="clear:both;margin-top:2em;"></div>
