tr.even {  }
tr.odd {
    background-color: #f0f0f0;
}
tr.your_employee {
    background-color: #ffaaaa;
}

/*default value*/
.default-value{
    color: grey;
    font-style: italic;
}
.dwrap {
 width: 900px;
 height: 1.7em;
}
.dwrap_saving {
 width: 17px;
 float: left;
}
.dwrap_1 {
 width: 25px;
 float: left;
}
.dwrap_2 {
 width: 133px;
 float: left;
}
.dwrap_3 {
 /*width: 500px;*/
 border: 1px;
 float: left;
}
.dwrap_4 {
 width: 125px;
 border: 1px;
 float: left;
 margin-left: 5px;
}
