{% extends "base.html" %}

{% block header %}
	<style>
	#sortable { list-style-type: none; margin: 0; padding: 0; }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; }
	#sortable li span { position: absolute; margin-left: -1.3em; }
	</style>
	<script>
	$(function() {
		$( "#sortable" ).sortable({update: function() {
                     $(this).find(".ui-state-default").each(function(i) {
                      id = $(this).attr("id");
                      num = false;
                      $("#checklist_order_form").find("input[id$=id]").each(function(i) {
                       if ($(this).val() == id) {
                        num = $(this).attr("id").replace("id_form-", "").replace("-id", "");
                        return false;
                       }
                      });
                      if (num !== false) {
                         $("#id_form-"+num+"-order").val(i);
                      }
                     });
                   }
                });
		$( "#sortable" ).disableSelection();
                $("#save_changes").button();
                $("#add_new").button();
                $("#save_changes").click(function() {
                  $("#checklist_order_form").submit();
                });
                $("#add_new").click(function() {
                  window.location.href = "/checklist/edit/{{ list.id }}/add";
                });
	});
	</script>
{% endblock %}

{% block content %}
<h2>Editing: {{ list.listname }}</h2>

<span id="save_changes">
Save changes
</span>

<span id="add_new">
Add new item
</span>

<div style="margin-top: 1em"></div>
<div style="display: none;">
<form id="checklist_order_form" method="post" action="/checklist/edit/{{ list.id }}">
{{ form }}
</form>
</div>
<div style="width:1500px">
<ul id="sortable">
{% for item in items %}
 <li class="ui-state-default" id="{{ item.id }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><a href="/checklist/edit/{{ list.id }}/edit/{{ item.id }}">{{ item.itemname }} ({{ item.unit }})</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}
