{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$.log = function(message){
     $('#log').append('<p>' + message + '</p>');
};

$(document).ready(function(){

   $('form.autosave#headerform').autosave({
      url: 'http://localhost:8000/checklist/update/employeeinfo/{{ employee.id }}', 
      interval:       500,
    });
    $('form.autosave#listform').autosave({
      url: 'http://localhost:8000/checklist/update/employeelist/{{ employee.id }}', 
      interval: 500
    });
 
});

</script>

<h1>{{ employee.name }}</h1>

<form method="post" action="?" class="autosave" id="headerform">
<p>Start date: <input class="autosave" type="text" id="date" name="date" value="{{ employee.start_date|date:"Y-m-d" }}">. Confirmed: <input class="autosave" type="checkbox" id="confirmed" name="confirmed" {% if employee.confirmed %}checked="checked"{% endif %}></p>
</form>

<form method="post" action="?" class="autosave" id="listform">
<ul>
{% for listitem in listitems %}
 <li><input class="autosave" type="checkbox" id="checkbox_{{ listitem.id }}" name="checkbox_{{ listitem.id }}" {% if listitem.value %}checked="checked"{%endif%}> <small>{{ listitem.unit }}</small> {{ listitem.itemname }} {% if listitem.textbox %}<input class="autosave" type="textbox" id="textbox_{{ listitem.id }}" value="{{ listitem.textvalue }}" name="textbox_{{ listitem.id }}">{% endif %}</li>
{% endfor %}
</ul>
</form>

<div id="log">
Log
</div>
{% endblock %}
