{% extends "base.html" %}

{% block content %}

<div class="futu-box"> 
	<div class="futu-box-header"> 
		<h1>Active employees</h1>
	</div>
	<div class="futu-box-content">
<h1>{{ listname }}</h1>

<table style="width:100%">
 <tr>
  <th>Name</th>
  <th>Start date</th>
  <th>Confirmed</th>
  <th>ETA</th>
  <th>Group items</th>
  <th>Items done</th>
  <th>S</th>
 </tr>
{% for employee in employees %}
 <tr {% if employee.your_employee %}class="your_employee"{%endif%}>
  <td><a href="/checklist/employeeview/{{ employee.id }}">{{ employee.name }}</a></td>
  <td>{{ employee.start_date|date:"Y-m-d" }}</td>
  <td>({% if employee.confirmed %}confirmed{% else %}not confirmed{% endif %})</td>
  <td>{{ employee.eta }} day{{ employee.eta|pluralize}}</td>
  <td>{% if employee.your_done_count == employee.your_total_count %}<b>Finished</b>{%else%}<b>{{ employee.your_done_count }}</b>/{{ employee.your_total_count }}{%endif%}</td>
  <td>{% if employee.done_count == employee.total_count %}<b>Finished</b>{%else%}<b>{{ employee.done_count }}</b>/{{ employee.total_count }}{%endif%}</td>
  <td>{% ifnotequal employee.employee_state 'A' %}{{ employee.employee_state }}{% endifnotequal %}</td>
 </tr>
{% endfor %}
</table>
	</div>
</div>


<div class="futu-box"> 
	<div class="futu-box-header"> 
		<h1>Archived employees</h1>
	</div>
	<div class="futu-box-content">

<table style="width:100%">
 <tr>
  <th>Name</th>
  <th>Start date</th>
  <th>Confirmed</th>
  <th>ETA</th>
  <th>Group items</th>
  <th>Items done</th>
  <th>S</th>
 </tr>
{% for employee in archived %}
 <tr {% if employee.your_employee %}class="your_employee"{%endif%}>
  <td><a href="/checklist/employeeview/{{ employee.id }}">{{ employee.name }}</a></td>
  <td>{{ employee.start_date|date:"Y-m-d" }}</td>
  <td>({% if employee.confirmed %}confirmed{% else %}not confirmed{% endif %})</td>
  <td>{{ employee.eta }} day{{ employee.eta|pluralize}}</td>
  <td>{% if employee.your_done_count == employee.your_total_count %}<b>Finished</b>{%else%}<b>{{ employee.your_done_count }}</b>/{{ employee.your_total_count }}{%endif%}</td>
  <td>{% if employee.done_count == employee.total_count %}<b>Finished</b>{%else%}<b>{{ employee.done_count }}</b>/{{ employee.total_count }}{%endif%}</td>
  <td>{% ifnotequal employee.employee_state 'A' %}{{ employee.employee_state }}{% endifnotequal %}</td>
 </tr>
{% endfor %}
</table>
	</div>
</div>
{% endblock %}
