{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$.log = function(message){
     $('#log').append('<p>' + message + '</p>');
};

var timeouts = Array();

function switch_blank(node) {
    $(node).attr("src", "/checklist/static/blank.png");
}
function process_success(data) {
   if (data.success == true) {
    idname = "#spinner_"+data.key;
    console.log($(idname).attr("src"), data.key);
    $(idname).attr("src", "/checklist/static/ok.png");
    if (typeof timeouts[idname] != 'undefined') {
      clearTimeout(timeouts[idname]);
    }
    timeouts[idname] = setTimeout("switch_blank('"+idname+"');", 1500);
   } else {
    console.log("fail");
   }
}

function process_send(data) {
    var refNode;
    refNode = $(data).closest('form').find('legend');
    id = $(data).closest('form').attr("id").split("_");
    id = id[1];
    // Create spinner
    var spinner = $('<img src="/checklist/static/spinner14.gif" id="spinner_'+id+'" />').css({
        'position':'relative',
        'margin-left':'0px',
        'height': 16,
        'width': 16
    });
    refNode.empty();
    console.log("node4", refNode);
    spinner.appendTo(refNode);
}

$(document).ready(function(){
 $("#form_header").autosave({
  grouped: true,
  success: function(data) { process_success(data) },
  send: function(data) { process_send(data) }
 });
 {% for listitem in listitems_yours %} 
  $("#form_{{ listitem.id }}").autosave({
   grouped: false,
   success: function(data) { process_success(data) },
   send: function(data) { process_send(data) }
  });
 {% endfor %}
 {% for listitem in listitems_others %} 
  $("#form_{{ listitem.id }}").autosave({
   grouped: false,
   success: function(data) { process_success(data) },
   send: function(data) { process_send(data) }
  });
 {% endfor %}
 
});

</script>

<h1>{{ employee.name }}</h1>

<form method="post" action="/checklist/update/employeeinfo/{{ employee.id }}" class="autosave" id="form_header">
{% csrf_token %}
<legend><img src="/checklist/static/blank.png" id="progress_header"></legend>
<table>
{{ employee_form }}

</table>
</form>


<h1>Your items</h1>

<p>Please note: additional items in list below this (<b>Other items</b>) may also apply to you. You should not ignore it.</p>

{% for listitem in listitems_yours %}
<form method="post" action="/checklist/update/employeelist/{{ employee.id }}/{{ listitem.id }}" class="autosave form_listitem" id="form_{{ listitem.id }}" name="form_{{ listitem.id }}">
<div class="dwrap">
<div class="dwrap_saving"><legend><img src="/checklist/static/blank.png" id="progress_{{ listitem.id }}"></legend></div>
<div class="dwrap_1"><input type="checkbox" name="checkbox" {% if listitem.value %}checked="checked"{%endif%} id="checkbox"></div>
<div class="dwrap_2"><small>{{ listitem.unit }}</small></div>
<div class="dwrap_3">{{ listitem.itemname }}</div>
<div class="dwrap_4">{% if listitem.textbox %}<input  type="textbox" value="{{ listitem.textvalue }}" name="textbox" id="textbox">{% endif %}</div>
</div>
</form>
{% endfor %}

<h1>Other items</h1>
{% for listitem in listitems_others %}
<form method="post" action="/checklist/update/employeelist/{{ employee.id }}/{{ listitem.id }}" class="autosave form_listitem" id="form_{{ listitem.id }}" name="form_{{ listitem.id }}">
<div class="dwrap">
<div class="dwrap_saving"><legend><img src="/checklist/static/blank.png" id="progress_{{ listitem.id }}"></legend></div>
<div class="dwrap_1"><input type="checkbox" name="checkbox" {% if listitem.value %}checked="checked"{%endif%} id="checkbox"></div>
<div class="dwrap_2"><small>{{ listitem.unit }}</small></div>
<div class="dwrap_3">{{ listitem.itemname }}</div>
<div class="dwrap_4">{% if listitem.textbox %}<input  type="textbox" value="{{ listitem.textvalue }}" name="textbox" id="textbox">{% endif %}</div>
</div>
</form>
{% endfor %}

<div id="log">
Log
</div>
{% endblock %}
